html {
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("assets/fonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("assets/fonts/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoMono";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("assets/fonts/RobotoMono.ttf") format("truetype");
}

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
}

#app {
  white-space: pre-wrap;
  height: 100vh;
}

h1 {
  margin-block: 0;
}

code {
  font-family: "RobotoMono", monospace;
}
